body {
  background-color: rgb(164, 206, 227);
  font-family: "Libre Baskerville", Arial, sans-serif; margin: 40px;
 }       
 h1 { color: #333366; }
      h2 { color: #666699; }
      .section { margin-bottom: 30px; }
      .contact-form input, textarea { width: 100%; padding: 10px; margin: 10px 0; }
      .social-links { list-style-type: none; padding: 0; }
      .social-links li { display: inline; margin-right: 10px; } 
 h1 {
      text-transform: uppercase;
      font-size: 1rem;
    }
/* 
.jkphoto {
      
    } */
.summary {
width: 50%;
margin-left: 25%;
margin-top: 100px;
color: rgb(255, 255, 255);
font-family: "Libre Baskerville", serif;
text-align: center;

border: 5px solid white;
      width: 50%;
      border-radius: 50%; 
      padding: .5px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75), -5px -5px 5px 0px rgba(255, 0, 0, 0.75);

}
.education {
  padding: 10px;
  /* text-align: center; */
}
.flex-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px; 
}

.flex-container > div {
  width: 100px;
  color: red;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

/* Don't change the existing CSS. */
#outer-box{
background-color: purple;
}
.box {
 background-color: blue;
 padding: 10px;
}
.inner-box{
 background-color: red;
}

p {
 margin: 0;
 padding: 0;
}
.white-text{
 color: white;
}